
*{
border: none;
outline: none;
}

body{
background-size:cover;
background: url("../images/background.jpg") 50% 0 no-repeat fixed;
margin: 0;
padding: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;

}
.clearfix{
clear:both;
}

#container{/*Playlistan*/
background-color: #303030;
top: 61px;
position: fixed;
height: 574px;
z-index: 2;
overflow-y: scroll;
visibility:hidden;
}

#playbar{
position: absolute;
left: 0;
bottom: 0;
width: 100%;
color:white;
}

#audio-image{
position:relative;
width: 64px;
height: auto;

}
#audio-imagemove{
position: relative;
top: 64px;
}

#audio-info{
background-color: #303030;
width: 200px;
padding: 6px;
left: 63px;
bottom: 64px;
text-align: center;
position: relative;
height: 52px;
visibility:hidden;
}

#audio-info .artist{
font-weight:bold;
}

.cover{
width: 65px;
position: relative;
top: 5px;
visibility:hidden;
}

#cover{
background-repeat: no-repeat;
background-position: 50%;
border-radius: 50%;
border: 16px outset black;
width:150px;
top:260px;
position:relative;
top: 28%;
margin: auto;
left: 60%;
transform: translate(-50%, -50%);
animation-name: pulse;
-webkit-animation-name: pulse;	
animation-duration: 5s;	
-webkit-animation-duration: 5s;
animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}
#wrap{
position: relative;
top: 165px;
margin: 0px auto;
}

#wrap br{
display:none;
}
.audio-info{
color: white;
margin: 0px auto;
position: relative;
left: 44px;
top:5px;
font-size: 1.8em;
width: 248px;
}
#audio-player{
height:auto;
background-color: #303030;
position: relative;
}

input#volume {
width: 75px;
left: 180px;
background: none repeat scroll 0% 0% #CCC;
height: 3px;
position: absolute;
top: 38px;
}
input#volume::-webkit-slider-thumb {
-webkit-appearance: none !important;
background:url(../images/knob.png) no-repeat;
height:12px;
width:12px;
}
/*alla knappar för musikspelaren */
#buttons{
border-style:none;
width:300px;
padding:5px;
position:relative;
margin:auto;
height: 80px;
}


button#play{
border-style:none;
width:50px;
height:50px;
background:;
}

button#pause{
border-style:none;
width:70px;
height:70px;
background:no-repeat;
}

button#stop{
border-style:none;
width:70px;
height:70px;
background: no-repeat;
}

button#prev{
border-style:none;
width:70px;
height:70px;
background:no-repeat;

}

button#next{
border-style:none;
width:70px;
height:70px;
background: no-repeat;
}

#playlist {
list-style:none;
}

#playlist li {
cursor: pointer;
color:white;
border-top-style: solid;
width:200px;
margin-left:-41px;
padding:2px;
position:relative;
top:-3px;
}

#tracker{

position: absolute;
top:-5px;
width: 20px;
left:400px;
}

#playlist li.active {

}




#progress {
background-color:#00BFFF; 
height:20px; 
display:inline-block; 
left:0px;
position:absolute;
}
   


#duration{
position:relative;
float: left;
top:41px;
left:-280px;
}

footer{
position: relative;
top: 20px;
}

h3{
color:white;
}