@import "http://fonts.googleapis.com/css?family=Raleway";
Body{
margin: 0;
padding: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;

}


#header{
height:565px;
background: url(../hbilder/prem.jpg) 0 no-repeat fixed; 
background-size:cover;
position:relative;
}
#header:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background: rgba(0,191,255,0.7);
}
#searchbar{
width:200px;
position: absolute;
top: -40px;
right: -265px;
box-shadow:none;
}

#searchbutton{
position: relative;
width: 2%;
min-width: 20px;
float: right;
position: absolute;
right: -290px;
top: 3px;

}

#bigButton,#bigButton2{
font-size:1.7em;
font-weight: bold;
background:#00BFFF	;
padding:8px;
border-radius: 25px;
margin-left:10px;
transition:0.2s;
cursor:pointer;
text-decoration:none;
color:white;
}

#bigButton:hover,#bigButton2:hover{
background: no-repeat scroll 0% 0% rgba(0, 0, 0, 0.4);
transition: color 0.2s ease 0s;
}

ul.nav{
position:fixed;
padding:40px;
background: no-repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
margin:0px;
font-weight: bold;
width:100%;
z-index:5;
}

.nav{
text-align:center;


}

.nav li{
list-style:none;
display:inline;
position:relative;
}

.nav li a{
font-family:helvetica;
text-decoration:none;
Color:white;
padding: 10px;
transition: color 0.2s ease 0s;
}

.nav li a:hover{
color:#00BFFF;
}


#firsth1{
color:black;
text-align:center;
font-family:'Raleway',sans-serif;
font-weight: bold;
font-size: 4em;
line-height: 1.1em;
margin:0px;
text-transform: uppercase;
}

.blank h1{
color:black;
text-align:center;
font-family:'Raleway',sans-serif;
font-weight: bold;
font-size: 2.1em;
line-height: 1.1em;
width: 100%;
max-width: 780px;
margin: auto;
padding: 25px;
}

.blank img{
margin:auto;
}

.blank p , #first1{
color:black;
text-align:center;
margin:auto;
font-family:'Raleway',sans-serif;
font-weight: bold;
font-size: 1em;
line-height: 2em;
text-transform: uppercase;
padding:10px;
width:600px;
}

#firsth1{
margin: auto;
text-align: center;
color: white;
}

#first1{
position: absolute;
top: 50%;
width: 80%;
margin: auto;
color: white;
left: 50%;
transform: translate(-50%, -50%);
top: 300px;
}

#logo{
padding:5px;
z-index:100;
background:url(../hbilder/biglogo2.png);
height: 40px;
width: 190px;
position: fixed;
top: 40px;
left: 50%;
transform: translate(-50%, -50%);
}



footer{
height:200px;

}


#social{
text-decoration:none;
list-style:none;
position: relative;
float: right;
bottom: 135px;
right: 100px;
}
 
#social a:hover{
opacity:0.5;
transition:ease-in 0.2s;

} 

#info a{
text-decoration:none;
color:black;
}

footer li , #social p{

font-family:'Raleway',sans-serif;
font-weight: bold;
font-size: 1em;
line-height: 1em;
margin:0px;
list-style:none;
padding:5px;
}
#info p {
display:inline;
bottom:5px;
padding:10px;
margin:10px;
position:relative;
}
